
.article {
    width: 100%;
}

.article-date, .article-text {
    width: 45rem;
    margin: auto;
    text-align: left;
}

.article .article-img {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0px 0px 20px;
}

.article-date {
    margin-bottom: 20px;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 400;
}

.article-text heading {
    font-size: 2.2rem;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1ch;
    display: block;
    text-align: center;
    text-decoration: underline var(--erra-accent);
}

.article-text summary {
    font-size: 1.15rem;
    line-height: 120%;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1ch;
}

.article-text p {
    font-size: 1rem;
    line-height: 150%;
    margin-bottom: 1.5ch;
}

.article-text h1 {
    font-size: 1.75rem;
    line-height: 120%;
    text-decoration: underline var(--erra-accent);
    margin-bottom: 0.5ch;
    text-align: center;
}

.news-links {
    width: 100%;
    background: var(--erra-accent);
    padding: 20vh 0;
}

.news-links svg {
    height: 5em;
    width: 100%;
    z-index: 1;
}

.news-links rect {
    height: 100%;
    fill: url(#stripesPatternWhite);
}