/****
ERRA MAIN CSS FILE
Author: Aurora Widawati
Date Created: 15/02/2020
Date Modified: 15/02/2020
*****/

html {
  scroll-behavior: smooth;
}

/* Navbar Formatting */
  nav ul {
    margin: 5px 0 0;
  }

  nav ul li {
    display: inline-block;
    margin: 0 0px 0;
  }

.topnav {
  background:rgba(246,247,253,1);
  font-family: 'Metrophobic', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.topnav a {
  color: rgba(73,8,6,1);
  padding: 10px 15px;
  text align: center;
  float: left;
  text-decoration: none;
}

.topnav a:hover, a:active {
  background: rgba(73,8,6,1);
  color: rgba(246,247,253,1);
}

/* Header text Formatting */

.headerbg {
  background-image:url('../img/bike.jpg');
  background-position: 0% 30%;
  background-size: cover;
  margin-bottom:0px;
  margin-top:40px;
}

.sitemaininfo {
  background:rgba(255,255,255,0.75);
  padding:20px;
  text-align: center;
  width: 80%;
  color: black;
  font-size: 20px;
}

.sitetitle {
  font-family: Metrophobic, sans-serif;
  font-size: 60px;
  font-weight: 600;
}

.sitesubtitle {
  font-family: Metrophobic, sans-serif;
  font-size: 50px;
  margin-top: -10px;
  margin-bottom: 20px;
}

/* Header button formatting */
.header-button {
  background-color: rgba(255,255,255,1);
  border: 2px solid rgb(73,8,6);
  font-family: Metrophobic;
  font-weight: 500;
  font-size: 20px;
  color: rgb(73,8,6);
  padding: 5px 15px;
}

.header-button:hover {
  color: rgb(255,255,255);
  background: rgb(73,8,6);
  transition: ease-in-out, 0.5s;
  -webkit-transition: ease-in-out, 0.5s;
  -moz-transition: ease-in-out, 0.5s;
}

@media (max-width: 767px) {
  .headerbg {
    background-position: 50% 30%;
    margin-top:65px;
  }

  .sitemaininfo {
    font-size: 16px;
  }

  .sitetitle {
  font-size: 36px;
  }

}

/* Site Content formatting */
.h1gen {
  font-family: Metrophobic, sans-serif;
  font-size: 48px;
  font-weight:600;
  text-align: left;
  padding-bottom: 10px;
}

.h2gen {
  font-family: Metrophobic, sans-serif;
  font-size: 40px;
  font-weight:600;
  text-align: left;
  margin-bottom: 10px;
}

#about, #calendar, #members, #rules {
  margin-bottom:0px;
}

.about-desc {
  text-align: justify;
}

#calendar, #rules {
  background:rgba(255,255,255,1);
}

#members {
  background: rgba(51,51,51,1);
  color:rgba(255,255,255,1);
  text-align: center;
}

/* Members intro */
.membertext {
  font-family: Roboto;
  font-size: 18px;
  text-align: justify;
  color:rgba(255,255,255,1);
  margin-bottom: 15px;
}

@media (max-width:767px) {
  .member-carousel {
    display: none;
  }
}

@media (min-width:767px) {
  .member-list {
    display: none;
  }
}

#contact {
  text-align: center;
}

/* Form styling */
.contactform {
  font-family: Roboto;
  font-size: 16px;
  color: rgba(0,0,0,1)
}

@media (max-width:767px) {
  .contactform {
    padding: 50px;
  }
}

.form-label {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size:18px;
}

.submit-query {
  text-align: left;
}

.btn-primary {
  margin-bottom: 50px;

}

.medialinks {
  padding-bottom: 65px;
  text-align: center;
}

/* Socmed icons formattng */
.socmed {
  font-size: 100px;
  margin-right: 1vw;
  color: rgba(73,8,6,1);
  color: rgb(73,8,6);
}

@media (max-width:767px) {
  .medialinks {
    padding: 50px;
    padding-bottom: 65px;
  }


  .socmed {
    font-size: 55px;
    margin-right: 1vh;
  }
}

.socmed:hover {
  color: rgba(172,18,30,1);
  color: rgb(172,18,30);
  text-decoration: none;
  transition: ease-in-out, 0.25s;
  -webkit-transition: ease-in-out, 0.25s;
  -moz-transition: ease-in-out, 0.25s;
}


/* Site footer formatting */
.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:rgba(51,51,51,1);
  color: rgba(255,255,255,1);
  padding: 10px;
  margin-top:65px;
  font-size: 8px;
}
